/*
  ================================ External Fonts ================================
*/
@font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/**
  ================================ TailwindCSS ================================
*/
@import 'tailwindcss';
@import 'tailwindcss-primeui';

/**
 =============================== PrimeVue Color Overiding   ================================
 */

:root {
  --p-primary-50: var(--color-primary-50);
  --p-primary-100: var(--color-primary-100);
  --p-primary-200: var(--color-primary-200);
  --p-primary-300: var(--color-primary-300);
  --p-primary-400: var(--color-primary-400);
  --p-primary-500: var(--color-primary-500);
  --p-primary-600: var(--color-primary-600);
  --p-primary-700: var(--color-primary-700);
}

.filter-white {
  filter: brightness(0) invert(1);
}

.w-webkit-fill-available {
  width: -webkit-fill-available;
}

/**
  ================================ Custom TailwindCSS ================================
*/

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: var(--font-sans);
    font-variation-settings: 'opsz' 14;
  }

  @page {
    size: auto;
    margin: 0;
  }

  @media print {
    html {
      height: auto !important ;
    }

    body #main-content {
      display: none !important;
    }

    body {
      margin: 0;
      padding: 0;
      background: white;
      height: auto !important;
    }

    editor-card {
      display: none !important;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
    }

    .invoice-paper {
      margin: 0 auto;
      width: 100%;
      max-width: 100mm;
      box-sizing: border-box;
      page-break-after: always;
      font-size: 0.25em;
      padding: 2px;
    }

    .invoice-paper * {
      box-sizing: border-box;
      font-size: inherit !important;
    }

    .invoice-paper section,
    .invoice-paper table {
      page-break-inside: avoid;
    }

    #box-paper,
    #invoice-change-paper,
    .PrimeVueTabs,
    .PrimeVueTabList {
      all: unset;
    }

    table,
    section,
    .invoice-table,
    .invoice-detail {
      page-break-inside: avoid;
    }
  }
}

@layer components {
  .basic-smooth-animation {
    @apply transition-all duration-300 ease-in-out;
  }

  .button-shadow {
    box-shadow: 0px 1px 2px 0px #1018280d;
  }

  .container {
    @apply w-dvw h-dvh max-w-full md:max-w-4xl xl:max-w-6xl mx-auto px-4;
  }

  .default-wrapper {
    @apply flex flex-col relative inset-0 z-0 w-full;
  }

  .default-wrapper-fullscreen {
    @apply relative inset-0 z-0 h-full w-dvw min-h-dvh;
  }

  .grid-wrapper {
    @apply grid grid-rows-1 grid-cols-12 relative inset-0 z-0;
  }

  .grid-wrapper-fullscreen {
    @apply grid grid-rows-1 grid-cols-12 relative inset-0 z-0 w-dvw h-dvh;
  }
}

@theme {
  --color-background-success: #edf7ee;
  --color-black-secondary: #434343;
  --color-border-error: #f0afaf;
  --color-primary: #18618b;
  --color-primary-50: #e5f1f7;
  --color-primary-100: #b8d9e9;
  --color-primary-200: #8ac0da;
  --color-primary-300: #5ca8cb;
  --color-primary-400: #2f8fbd;
  --color-primary-500: #18618b;
  --color-primary-600: #144e71;
  --color-primary-700: #103b57;
  --color-blue-primary: #18618b;
  --color-green-primary: #64c9b1;
  --color-disabled: #8e8e8e;
  --color-error-hover: #981c1c;
  --color-text-action-error: #e57171;
  --color-gray: #434343;
  --color-error-main: #e57171;
  --color-error-background: #fbebeb;
  --color-primary-background: #edf6fc;
  --color-primary-border: #8cc8eb;
  --color-primary-hover: #0f3c56;
  --color-secondary: #a8e0d3;
  --color-secondary-background: #e9f7f4;
  --color-secondary-hover: #2a7866;
  --color-blue-secondary-background: #d6ebf8;
  --color-background: #f9fafb;
  --color-text-disabled: #8e8e8e;
  --color-text-primary: #070707;
  --color-disabled: #d9d9d9;
  --color-gray-400: #98a2b3;
  --color-gray-900: #101828;
  --color-grayscale-10: #ededed;
  --color-grayscale-20: #d9d9d9;
  --color-grayscale-30: #b4b4b4;
  --color-grayscale-70: #323232;
  --color-success: #80c684;
  --color-success-hover: #367839;
  --color-success-background: #edf7ee;
  --color-warning-background: #fff5e6;
  --color-warning-main: #ffb84d;
  --color-warning-hover: #b06900;
  --color-success: #80c684;
  --color-coplementary-border: #e0a8cb;
  --color-complementary-background: #f7e9f2;
  --color-complementary-main: #c964a2;
  --color-light-white: #fcfcfd;
  --font-sans: 'Inter', sans-serif;
}

span.p-datatable-column-title {
  @apply font-normal;
}
/* Untuk Chrome, Safari, dan Opera */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Untuk IE, Edge, dan Firefox */
.scrollbar-hidden::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
