/*
  ================================ External Fonts ================================
*/
@font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/**
  ================================ TailwindCSS ================================
*/
@import 'tailwindcss';
@import 'tailwindcss-primeui';

/**
  ================================ Custom TailwindCSS ================================
*/
@layer base {
  html {
    font-family: var(--font-sans);
    font-variation-settings: 'opsz' 14;
  }
}

@layer components {
  .basic-smooth-animation {
    @apply transition-all duration-300 ease-in-out;
  }

  .container {
    @apply w-dvw h-dvh max-w-full md:max-w-4xl xl:max-w-6xl mx-auto px-4;
  }

  .default-wrapper {
    @apply relative inset-0 z-0;
  }

  .default-wrapper-fullscreen {
    @apply relative inset-0 z-0 w-dvw h-dvh overflow-x-hidden;
  }

  .grid-wrapper-fullscreen {
    @apply grid grid-rows-1 grid-cols-12 relative inset-0 z-0 w-dvw h-dvh;
  }
}

@theme {
  --color-black-secondary: #434343;
  --color-blue-primary: #18618b;
  --color-primary-background: #edf6fc;
  --color-background: #f9fafb;
  --color-text-disabled: #8e8e8e;
  --color-disabled: #d9d9d9;
  --color-grayscale-10: #ededed;
  --color-grayscale-20: #d9d9d9;
  --font-sans: 'Inter', sans-serif;
}
