/*
  ================================ External Fonts ================================
*/
@font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/**
  ================================ TailwindCSS ================================
*/
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@plugin '@tailwindcss/forms';

/**
  ================================ Custom TailwindCSS ================================
*/
@layer base {
  html {
    font-family: var(--font-sans);
    font-variation-settings: 'opsz' 14;
  }
}

@layer components {
  .default-wrapper {
    @apply relative inset-0 z-0;
  }

  .default-wrapper-fullscreen {
    @apply relative inset-0 z-0 w-dvw h-dvh;
  }

  .grid-wrapper-fullscreen {
    @apply grid grid-rows-1 grid-cols-12 relative inset-0 z-0 w-dvw h-dvh;
  }
}

@theme {
  --color-blue-primary: #18618b;
  --color-disabled: #8e8e8e;
  --color-gray: #434343;
  --color-grayscale-20: #d9d9d9;
  --color-grayscale-30: #b4b4b4;
  --font-sans: 'Inter', sans-serif;
}
